menu "Bk_websocket"

	config WEBSOCKET
		depends on MBEDTLS
		bool "Enable Websocket"
		default n
	config WEBSOCKET_TLS
		depends on MBEDTLS
		bool "Enable Websocket"
		default n
	config WEBSOCKET_RB
		depends on WEBSOCKET
		bool "Enable Websocket RingBuffer"
		default n
endmenu
